# Angular build output
/dist
/.angular/cache

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
/src/environments/environment*.ts

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/*

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# AWS deployment scripts / credentials
*.pem
*.sh
*.env

# Others
.idea/
